/* Main container */
.calculatemain {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 25px 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.calforminput {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1.8px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.calbutton{
    width: 100%;
    background-color: rgb(5, 5, 109);
    border-radius: 5px;
    padding: 5px;
    color: white;
}