.signuph1 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 80px;

}

.signupinput {
    width: 280px;
    padding: 12px 14px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s ease;
    margin-bottom: 20px;

}

.signupinputfocus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}

.signupbtn {
    width: 120px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #100466;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;


}

.signupbtn:hover {
    background-color: #2b17c4;


}
.signuperror{
    margin-top: 30px;
}