.footerbody {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(95, 93, 93, 0.74);
    backdrop-filter: blur(5px);
    padding: 10px 0;
    text-align: center;
}
.footerp{
    font-weight: bold;
    color: white;
}

